<div class="settings">

    <p><a href="" ng-click="settings.setGameMode('user')">Enter Instagram username</a><br/>
        - or - <br/>
        <a href="" ng-click="settings.setGameMode('popular')">play with popular photos</a>
    </p>

    <div ng-show="settings.gameMode === 'user'">
        <!-- /input-group -->
        <form method="post" ng-submit="settings.settingsFormSubmit()">
            <div class="input-group">
                <input class="form-control" type="text" name="username" id="username" ng-model="settings.username" placeholder="Username"/>
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Start new game</button>
                  </span>
            </div>
        </form>
    </div>
    <div ng-show="settings.gameMode === 'popular'">
        <button class="btn btn-success" ng-click="settings.startGame()" type="button">Start new game</button>
    </div>

    <div class="settings-status">
        <div ng-show="settings.isGameFinished">
            You win!
        </div>
        <div ng-show="!settings.isGameFinished">
            Pairs remained: {{ settings.remainingPairsNum }}
        </div>
    </div>

</div>