<div class="game">
    <div class="game-menu">
        <header class="game-header">
            <h1>PictureMatch</h1>
        </header>
        <div class="game-settings">
            <settings game-mode="game.gameMode"
                      on-start-game="game.startGame()"
                      is-game-finished="game.isGameFinished"
                      username="game.username">
            </settings>
        </div>
    </div>
    <div class="game-field">
        <div class="game-cards">
            <card data="card"
                  ng-repeat="card in game.cards"
                  ng-click="game.cardClick(card)"
                  ng-class="{'m-selected': game.isCardSelected(card), 'm-paired': game.isCardPaired(card)}">
            </card>
        </div>
    </div>
</div>